<li>
	{{name}}

	<button class="change-burger" data-id="{{id}}" data-newburger="{{devour}}">
		{{#if hungry}}DEVOUR!{{else}}EAT!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
